<section class="about-section">
    <div class="col-12 about-content">
        <h2>About Me</h2>
        <p>
            Diego Arturo Hernández Fuentes, born in Puebla, Mexico on December 12th, 1990. Engineer in Computer Science. Gratuated in Benemerita 
            Universidad Autonoma de Puebla, 2009-2014 class.</p>
        <p>
            Skills in web development in JavaScript, Ajax &amp; JSON request throught PHP.       
        </p>
        <p>I'm using git to save my progress in projects and link all of them with my Github account.</p>

        <p>Now, I am ready for my next step of a programming life: working in angular projects with my
            own webpack configuration file</p>

        <h3>Courses</h3>
        <courses></courses>
    </div>
</section>