
<div class="row" >
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="contact-inner">
            <h2 class="h2 task-header">Contact</h2>
            <p>Stay in contact with me in my social networks: Follow me on Twitter to see interested 
                programming content and stuff, of course follow me on Github to see my code activity in
                differents node js and angular projects.
            </p>
            <ul>
                <li class="list-inline-item"><a href="https://twitter.com/DiegoAHernandez" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/diegohdez90" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="twitter-inner">
            <a class="twitter-timeline" data-height="600" href="https://twitter.com/DiegoAHernandez">Tweets by DiegoAHernandez</a> 
        </div>
    </div>
</div>